---
import { defaultTheme } from '@var-ui/core';
---
<html lang="en" class={defaultTheme.className}>
  <head>
    <meta charset="utf-8" />
    <title>Var UI</title>
    <link rel="stylesheet" href="/typestyles.css" />
  </head>
  <body>
    <h1>Var UI docs (Astro)</h1>
  </body>
</html>
